body {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

span {
  font-weight: 100;
}

h1,
p {
  font-family: 'comic Sans MS', Arial, Helvetica, sans-serif;
  font-size: 50px;
}

#books > div {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  height: 45px;
  align-items: center;
}

#books > div > .remove {
  width: 100px;
  height: 30px;
  box-shadow: 3px 3px rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  margin-right: 20px;
  cursor: pointer;
  background-color: #ffff;
  font-weight: 900;
}

.new-book {
  font-size: 40px;
  margin-bottom: -10px;
  font-weight: 900;
}

.book-new {
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 1);
  margin-top: 30px;
}

#books {
  border: 4px solid rgba(0, 0, 0, 1);
  width: 50%;
  margin: auto;
}

#title {
  margin-top: 30px;
}

#title,
#author {
  width: 30.1%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border: 2px solid rgba(0, 0, 0, 1);
}

#submit {
  float: right;
  margin-right: 34%;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 1);
  font-family: 'Comic Sans Ms', Arial, Helvetica, sans-serif;
  background-color: #ffff;
  font-weight: 900;
}
